.section {
  width: 100%;
}
.projectCard {
  display: flex;
  gap: 3rem;
  padding: 2rem;
  border-radius: 1rem;
  width: 80%;
  min-height: 100vh;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.grid {
  height: 100%;
  display: grid;
  grid-template-rows: 2fr 1fr;
  gap: 1rem;
  flex: 1.2;
}

.video {
  background-color: var(--color-gray-light);
  border-radius: 0.5rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-dark);
  font-weight: bold;
}
.iframe {
  aspect-ratio: 16/9;
  border-radius: 0.5rem;
}

.images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}
.images img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  border-radius: 0.5rem;
}

.projectInfo {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  flex: 1;
}

.projectHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.projectTitle {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.projectCategory {
  font-size: 0.875rem;
  color: var(--color-gray-medium);
  text-transform: uppercase;
  font-weight: 600;
}

.projectName {
  font-size: 2.5rem;
  font-family: "Jaldi", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--color-dark);
  margin: 0;
}

.projectIcon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}

.projectIcon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projectDescription {
  font-size: 1.5rem;
  line-height: 1;
  color: var(--color-dark);
  text-align: justify;
  margin: 0;
}

.projectTech {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  background-color: #323232;
  border-radius: 1rem;
  padding: 0.5rem;
  width: fit-content;
}

.projectTech h3 {
  font-size: 1.25rem;
  color: var(--color-white);
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
}

.badges {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.projectLinks {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.modal {
  border-radius: 1rem;
  padding: 2rem;
  width: 80%;
  max-width: 800px;
}

.fullImage {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  animation: fadeIn 0.5s ease-in-out;
}
.closeButton {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  cursor: pointer;
}

@keyframes fadeIn {
  0% {
    border-radius: 2rem;
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

/* Responsive Design */
@media (max-width: 435px) {
  .projectCard {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0rem;
  }
}
