.footer {
  display: flex;
  width: 100%;
  height: 100vh;
  padding: 3rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: var(--color-foreground);
}
.logoImg{
  color: white;
}
.footerContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
  background: linear-gradient(
    to right,
    var(--color-white),
    var(--color-white)
  );
  gap: 2rem;
  border-radius: 1.5rem;
}
.footerContainer h1 {
  font-size: 4rem;
  font-weight: bold;
  color: var(--color-dark);
  margin-bottom: 1rem;
  line-height: 4rem;
  text-align: center;
}
.contactInfo{
    display: flex;
    gap: 1rem;
}

/* Responsive Design */
@media (max-width: 435px) {
  .footer {
    padding: 0.7rem;
  }
    .footerContainer h1 {
        font-size: 2.5rem;
        line-height: 3rem;
    }
}