.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  scroll-behavior: smooth;
}

/* OFICIAL
.navLinks {
  display: flex;
  align-items: center;
  background-color: var(--color-white);
  border-radius: 500px;
  padding: 0.15rem;
}
*/
.languageSwitcher {
  display: flex;
  padding: 0.15rem;
}
@keyframes expandNav {
  0% {
    width: 60px;
    height: 60px;
    border-radius: 999px;
  }
  100% {
    width: 510px;
    height: auto;
    border-radius: 500px;
    padding: 0.15rem;
  }
}

.navLinks {
  display: flex;
  align-items: center;
  background-color: var(--color-white);
  overflow: hidden;
  border-radius: 999px;
  padding: 0;
  transition:
    width 0.35s ease,
    height 0.35s ease,
    border-radius 0.35s ease,
    padding 0.35s ease;
}

.navLinks.open {
  width: 300px;
  height: auto;
  border-radius: 500px;
  padding: 0.15rem;
}

.navLinks.animate {
  animation: expandNav 0.8s ease forwards;
}
