.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  scroll-behavior: smooth;
}

.navLinks {
  display: flex;
  align-items: center;
  background-color: var(--color-white);
  border-radius: 500px;
  padding: 0.15rem;
}
.languageSwitcher {
  display: flex;
  padding: 0.15rem;
}
