.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

@keyframes grow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

.aboutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 1.5rem;
  height: 100%;
  position: relative;
  background:
    radial-gradient(
      129% 99% at 112% 85%,
      var(--color-blue-light) 20%,
      var(--color-white) 90%
    ),
    url("https://assets.codepen.io/16327/noise-e82662fe.png");
  background-blend-mode: color-dodge;
  overflow: hidden;
  gap: 2rem;
  animation: grow 1s linear both;
  animation-timeline: scroll();
  animation-range: entry 0% exit 100%;
}
.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}
.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: var(--color-dark);
  background-color: var(--color-white);
  padding: 0.8rem 2rem;
  border-radius: 999px;
}

.image {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20%;
  object-fit: cover;
  border-radius: 1.5rem;
}

/* Responsive Design */
@media (max-width: 435px) {
  .skills {
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
    padding: 2rem;
    align-items: center;
    overflow-x: scroll;
    padding: 0 1rem;
  }
}
