@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Paleta personalizada */
  --color-dark: #1F1F1F;
  --color-white: #FFFFFF;
  --color-gray-light: #C7C7C7;
  --color-blue-light: #ace8ff;
  --color-green-neon: #55FF00;
  --color-green-pastel: #E8FFDC;
  --color-offwhite: #FBFBFB;
  --color-gray-medium: #A8A8A8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Integração com Tailwind */
  --color-primary: var(--color-green-neon);
  --color-secondary: var(--color-blue-light);
  --color-neutral: var(--color-gray-light);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--color-green-neon);
  color: var(--foreground);
  font-family: "Jaldi", Helvetica, sans-serif;
}
html {
  scroll-behavior: smooth;
}
